
.error-summary{
    min-width: 500px;
    max-width: 500px;
    min-height: 600px;
    max-height: 600px;
    border-radius: 4px;
    border: 1px solid grey;
}

.center-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.clock {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

.dial {
    position: absolute;
    top: 20%;
    right: 52%;
    height: 30%;
    border-left: 1px solid black;
    transform-origin: center bottom;
}

.horizontal-left-aligned-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.post-box {
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

.post-box:first-child {
    font-weight: bold;
}